.gitattributesSaved/Logs/MultiplayerTest.logplugins/AdvancedSessions/AdvancedSessions/AdvancedSessions.uplugin
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win32/UE4-AdvancedSessions-Win32-DebugGame.lib
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win32/UE4-AdvancedSessions-Win32-Shipping.lib
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win32/UE4-AdvancedSessions.lib
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4-AdvancedSessions-Win64-DebugGame.lib
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4-AdvancedSessions-Win64-Shipping.lib
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4-AdvancedSessions.lib
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4Editor-AdvancedSessions-Win64-DebugGame.dll
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4Editor-AdvancedSessions-Win64-DebugGame.pdb
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4Editor-AdvancedSessions.dll
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4Editor-AdvancedSessions.pdb
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/UE4Editor.modules
plugins/AdvancedSessions/AdvancedSessions/Resources/Icon128.png
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/AdvancedSessions.Build.cs
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedExternalUILibrary.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedFriendsGameInstance.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedFriendsInterface.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedFriendsLibrary.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedIdentityLibrary.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedSessions.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedSessionsLibrary.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/AdvancedVoiceLibrary.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/BlueprintDataDefinitions.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/CancelFindSessionsCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/CreateSessionCallbackProxyAdvanced.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/EndSessionCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/FindFriendSessionCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/FindSessionsCallbackProxyAdvanced.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/GetFriendsCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/GetRecentPlayersCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/GetUserPrivilegeCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/LoginUserCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/LogoutUserCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/OnlineSubSystemHeader.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/SendFriendInviteCallbackProxy.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Classes/UpdateSessionCallbackProxyAdvanced.h
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedExternalUILibrary.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedFriendsGameInstance.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedFriendsInterface.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedFriendsLibrary.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedIdentityLibrary.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedSessions.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedSessionsLibrary.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/AdvancedVoiceLibrary.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/CancelFindSessionsCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/CreateSessionCallbackProxyAdvanced.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/EndSessionCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/FindFriendSessionCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/FindSessionsCallbackProxyAdvanced.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/GetFriendsCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/GetRecentPlayersCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/GetUserPrivilegeCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/LoginUserCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/LogoutUserCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/SendFriendInviteCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSessions/Source/AdvancedSessions/Private/UpdateSessionCallbackProxyAdvanced.cpp
plugins/AdvancedSessions/AdvancedSteamSessions/AdvancedSteamSessions.uplugin
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win32/UE4-AdvancedSteamSessions-Win32-DebugGame.lib
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win32/UE4-AdvancedSteamSessions-Win32-Shipping.lib
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win32/UE4-AdvancedSteamSessions.lib
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4-AdvancedSteamSessions-Win64-DebugGame.lib
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4-AdvancedSteamSessions-Win64-Shipping.lib
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4-AdvancedSteamSessions.lib
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4Editor-AdvancedSteamSessions-Win64-DebugGame.dll
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4Editor-AdvancedSteamSessions-Win64-DebugGame.pdb
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4Editor-AdvancedSteamSessions.dll
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4Editor-AdvancedSteamSessions.pdb
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/UE4Editor.modules
plugins/AdvancedSessions/AdvancedSteamSessions/Resources/Icon128.png
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/AdvancedSteamSessions.Build.cs
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Classes/AdvancedSteamFriendsLibrary.h
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Classes/AdvancedSteamSessions.h
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Classes/AdvancedSteamWorkshopLibrary.h
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Classes/SteamRequestGroupOfficersCallbackProxy.h
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Classes/SteamWSRequestUGCDetailsCallbackProxy.h
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Private/AdvancedSteamFriendsLibrary.cpp
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Private/AdvancedSteamSessions.cpp
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Private/AdvancedSteamWorkshopLibrary.cpp
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Private/SteamRequestGroupOfficersCallbackProxy.cpp
plugins/AdvancedSessions/AdvancedSteamSessions/Source/AdvancedSteamSessions/Private/SteamWSRequestUGCDetailsCallbackProxy.cpp
plugins/AdvancedSessions/LICENSE.txt
plugins/AdvancedSessions/README.mdplugins/AdvancedSessions/AdvancedSessions/AdvancedSessions.upluginplugins/AdvancedSessions/README.mdSaved/Backup/M_Dungeon_Pipe_FlowingLava_2018-09-14-04-15-38.uasset
Saved/Backup/M_DungeonCliff_2018-09-14-04-19-25.uasset
Saved/Backup/M_Env_Fire_Nordheed_2018-09-14-04-13-01.uasset
Saved/Backup/M_Fire_Fort_Floor_1_2018-09-15-15-40-37.uasset
Saved/Backup/M_Forge_FirePit_2018-09-15-23-10-50.uasset
Saved/Backup/Map2_2018-09-15-23-28-46.umap
Saved/Backup/MasterGrunt_Child_2018-09-13-02-55-10.uasset
Saved/Backup/MasterGrunt_Child_2018-09-13-03-28-14.uasset
Saved/Backup/MasterGrunt_Child_2018-09-13-04-05-40.uasset
Saved/Backup/MasterGrunt_Child_2018-09-13-04-12-06.uasset
Saved/Backup/MedicalSupply_Child_2018-09-13-03-11-10.uasset
Saved/Backup/MedicalSupply_Child_2018-09-13-03-28-13.uasset
Saved/Backup/MedicalSupply_Child_2018-09-13-04-05-40.uasset
Saved/Backup/MedicalSupply_Child_2018-09-13-04-12-03.uasset
Saved/Backup/Menu_2018-09-14-04-19-45.umap
Saved/Backup/MrGrCamp_Child_2018-09-13-03-11-10.uasset
Saved/Backup/MrGrCamp_Child_2018-09-13-03-22-58.uasset
Saved/Backup/MrGrCamp_Child_2018-09-13-03-28-13.uasset
Saved/Backup/MrGrCamp_Child_2018-09-13-04-05-40.uasset
Saved/Backup/MrGrCamp_Child_2018-09-13-04-12-04.uasset
Saved/Backup/Pickup_Ore_D_Mat_2018-09-15-23-02-51.uasset
Saved/Backup/Rocket_Bar_Child_2018-09-13-03-11-11.uasset
Saved/Backup/Rocket_Bar_Child_2018-09-13-03-22-58.uasset
Saved/Backup/Rocket_Bar_Child_2018-09-13-03-28-13.uasset
Saved/Backup/Rocket_Bar_Child_2018-09-13-04-05-40.uasset
Saved/Backup/Rocket_Bar_Child_2018-09-13-04-12-04.uasset
Saved/Backup/Rocket_Child_2018-09-13-02-55-11.uasset
Saved/Backup/Rocket_Child_2018-09-13-03-28-14.uasset
Saved/Backup/Rocket_Child_2018-09-13-04-05-41.uasset
Saved/Backup/Rocket_Child_2018-09-13-04-12-07.uasset
Saved/Backup/SM_MainMap_2018-09-14-03-05-03.uasset
Saved/Backup/SM_MainMap_2018-09-14-03-13-22.uasset
Saved/Backup/SM_MainMap_2018-09-14-04-20-38.uasset
Saved/Backup/SM_PebblesBarrels_2018-09-15-23-02-54.uasset
Saved/Backup/SM_Top_2018-09-15-23-05-13.uasset
Saved/Backup/SM_Top_2018-09-15-23-12-56.uasset
Saved/Backup/Soldier_Child_2018-09-13-02-55-11.uasset
Saved/Backup/Soldier_Child_2018-09-13-03-28-14.uasset
Saved/Backup/Soldier_Child_2018-09-13-04-05-38.uasset
Saved/Backup/Soldier_Child_2018-09-13-04-12-07.uasset
Saved/Backup/Suicide_Bar_Child_2018-09-13-03-11-14.uasset
Saved/Backup/Suicide_Bar_Child_2018-09-13-03-22-58.uasset
Saved/Backup/Suicide_Bar_Child_2018-09-13-03-28-13.uasset
Saved/Backup/Suicide_Bar_Child_2018-09-13-04-05-41.uasset
Saved/Backup/Suicide_Bar_Child_2018-09-13-04-12-05.uasset
Saved/Backup/Suicide_Child_2018-09-13-02-55-11.uasset
Saved/Backup/Suicide_Child_2018-09-13-03-28-14.uasset
Saved/Backup/Suicide_Child_2018-09-13-04-05-41.uasset
Saved/Backup/Suicide_Child_2018-09-13-04-12-07.uasset
Saved/Backup/Tower_Child_2018-09-13-03-11-14.uasset
Saved/Backup/Tower_Child_2018-09-13-03-28-13.uasset
Saved/Backup/Tower_Child_2018-09-13-04-05-41.uasset
Saved/Backup/Tower_Child_2018-09-13-04-12-05.uasset
Saved/Backup/Troll_Child_2018-09-13-02-55-11.uasset
Saved/Backup/Troll_Child_2018-09-13-03-28-14.uasset
Saved/Backup/Troll_Child_2018-09-13-04-05-41.uasset
Saved/Backup/Troll_Child_2018-09-13-04-12-07.uasset
Saved/Backup/TrollCamp_Child_2018-09-13-03-11-15.uasset
Saved/Backup/TrollCamp_Child_2018-09-13-03-22-58.uasset
Saved/Backup/TrollCamp_Child_2018-09-13-03-28-13.uasset
Saved/Backup/TrollCamp_Child_2018-09-13-04-05-41.uasset
Saved/Backup/TrollCamp_Child_2018-09-13-04-12-06.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-0A6B757546974737883090BEEA28AB07/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-3ACAB6F34DB5E2911B2EDF98BD1BDC57/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-6BF67E9B472A54AB84D96F8877CC0CFB/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-70FC6F634FC8160C146070B08AF0AEE3/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-A3CF0D774D42A9F459BA03B66668666F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E80BC8F34552F84ADA43C4A13C93B8AD/CrashReportClient.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/WorldState/175011286.json
Saved/Config/WorldState/2650918574.json
Saved/Crashes/UE4CC-Windows-0A6B757546974737883090BEEA28AB07_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-0A6B757546974737883090BEEA28AB07_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-0A6B757546974737883090BEEA28AB07_0000/MultiplayerTest.log
Saved/Crashes/UE4CC-Windows-0A6B757546974737883090BEEA28AB07_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0000/MultiplayerTest.log
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0001/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0001/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0001/MultiplayerTest.log
Saved/Crashes/UE4CC-Windows-15042B9744367EEAEDCFB4B6F13102F9_0001/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-3ACAB6F34DB5E2911B2EDF98BD1BDC57_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-3ACAB6F34DB5E2911B2EDF98BD1BDC57_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-3ACAB6F34DB5E2911B2EDF98BD1BDC57_0000/MultiplayerTest.log
Saved/Crashes/UE4CC-Windows-3ACAB6F34DB5E2911B2EDF98BD1BDC57_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-6BF67E9B472A54AB84D96F8877CC0CFB_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-6BF67E9B472A54AB84D96F8877CC0CFB_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-6BF67E9B472A54AB84D96F8877CC0CFB_0000/MultiplayerTest.log
Saved/Crashes/UE4CC-Windows-6BF67E9B472A54AB84D96F8877CC0CFB_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-70FC6F634FC8160C146070B08AF0AEE3_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-70FC6F634FC8160C146070B08AF0AEE3_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-70FC6F634FC8160C146070B08AF0AEE3_0000/MultiplayerTest.log
Saved/Crashes/UE4CC-Windows-70FC6F634FC8160C146070B08AF0AEE3_0000/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-A3CF0D774D42A9F459BA03B66668666F_0000/CrashContext.runtime-xml
Saved/Crashes/UE4CC-Windows-A3CF0D774D42A9F459BA03B66668666F_0000/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-A3CF0D774D42A9F459BA03B66668666F_0000/MultiplayerTest.log
Saved/Crashes/UE4CC-Windows-A3CF0D774D42A9F459BA03B66668666F_0000/UE4Minidump.dmp
Saved/Logs/MultiplayerTest-backup-2018.09.13-02.47.04.log
Saved/Logs/MultiplayerTest-backup-2018.09.13-03.00.41.log
Saved/Logs/MultiplayerTest-backup-2018.09.14-01.36.30.log
Saved/Logs/MultiplayerTest-backup-2018.09.14-01.38.08.log
Saved/Logs/MultiplayerTest-backup-2018.09.14-23.39.53.log
Saved/Logs/MultiplayerTest-backup-2018.09.15-00.25.01.log
Saved/Logs/MultiplayerTest-backup-2018.09.15-00.33.57.log
Saved/Logs/MultiplayerTest-backup-2018.09.15-01.46.51.log
Saved/Logs/MultiplayerTest-backup-2018.09.15-16.09.22.log
Saved/Logs/MultiplayerTest.logplugins/AdvancedSessions/README.md
plugins/AdvancedSessions/AdvancedSessions/AdvancedSessions.upluginplugins/AdvancedSessions/README.mdIntermediate/CachedAssetRegistry.bin
Intermediate/Config/CoalescedSourceConfigs/Engine.iniplugins/AdvancedSessions/AdvancedSessions/AdvancedSessions.upluginplugins/AdvancedSessions/AdvancedSessions/AdvancedSessions.uplugin